* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: #1dbf73;
}

::selection {
  color: #fff;
  background: #1dbf73;
}

body {
  font-family: var(--font-family);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  background-color: #1dbf73;
  padding: 0.55rem 2rem;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.btn:hover {
  border-color: #1dbf73;
  background-color: #fff;
  color: #1dbf73;
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
